{% extends 'base.html.twig' %}

{% block body %}
        {# <li><a href="{{ path("edit_student", {id: student.id}) }}">{{student.name}}</a> - <a href="{{ path("delete_student", {id: student.id}) }}">delete</a></li> #}
        <div class="my_container">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">PAÍS</th>
                    <th scope="col">CUMPLEAÑOS</th>
                    <th scope="col">NUMERO</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">GÉNERO</th>
                    <th scope="col">INSTAGRAM</th>
                    <th scope="col">FACEBOOK</th>
                    <th scope="col">VÁLIDO</th>
                    <th scope="col">BORRAR</th>
                </tr>
            </thead>
            {% if students %}
            {% for student in students %}
            <tbody>
                <tr>
                  <th scope="row"><a href="{{ path("get_student", {id: student.id}) }}">{{student.name}} {{student.surname}}</a></th>
                  <td data-title="PAÍS">{{ student.country }}</td>
                  <td data-title="CUMPLEAÑOS">{{ student.birth |date('d-m-Y') }}</td>
                  <td data-title="NUMERO">{{ student.phone }}</td>
                  <td data-title="EMAIL">{{ student.email }}</td>
                  <td data-title="GENERO">{{ student.gender }}</td>
                  <td data-title="INSTAGRAM">{{ student.instagram }}</td>
                  <td data-title="FACEBOOK">{{ student.facebook }}</td>
                  <td data-title="VALIDEZ">{{ student.validity |date('d-m-Y') }}</td>
                  <td data-title="BORRAR"><a href="{{ path("delete_student", {id: student.id}) }}">BORRAR</a></td>
                </tr>
            </tbody>
            {% endfor %}
            {% else %}
            <tr>
                <td>VACÍO</td>
                <td>VACÍO</td>
                <td>VACÍO</td>
                <td>VACÍO</td>
                <td>VACÍO</td>
                <td>VACÍO</td>
                <td>VACÍO</td>
                <td>VACÍO</td>
                <td>VACÍO</td>
                <td>VACÍO</td>
            </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}