{% extends "base.html.twig" %}

{% block body %}
<div class="form__container">
{{ form_start(form, { 'attr': {'class': 'prueba3'} }) }}
    <div class="my-3 form__titles">
        {{ form_row(form.name, { 'label': 'Nombre'}) }}
    </div>
    <div class="my-3 form__titles">
        {{ form_row(form.surname, { 'label': 'Apellido'}) }}
    </div>
    <div class="my-3 form__titles">
        {{ form_row(form.country, { 'label': 'Nacionalidad'}) }}
    </div>
    <div class="prueba my-3 form__titles">
        {# <span>Cumpleaños</span> #}
        {{ form_label(form.birth, 'Cumpleaños')}}
        <div class="prueba4">
            {{ form_row(form.birth.year, { 'label': ' ', 'attr': {'class': 'prueba2'} }) }}
        </div>
        <div class="prueba4">
            {{ form_row(form.birth.month, { 'label': ' ', 'attr': {'class': 'prueba2'} }) }}
        </div>
        <div class="prueba4">
            {{ form_row(form.birth.day, { 'label': ' ', 'attr': {'class': 'prueba2'} }) }}
        </div>
    </div>
    <div class="my-3 form__titles">
        {{ form_row(form.phone, { 'label': 'Numero Whatsapp'}) }}
    </div>
    <div class="my-3 form__titles">
        {{ form_row(form.email, { 'label': 'Correo electrónico'}) }}
    </div>
    <div class="my-3 form__titles">
        {{ form_row(form.avatarImg, { 'label': 'Foto'}) }}
    </div>
    <div class="my-3 form__titles">
        {{ form_row(form.gender, { 'label': 'Género'}) }}
    </div>
    <div class="my-3 form__titles">
        {{ form_row(form.instagram, { 'label': 'Instagram'}) }}
    </div>
    <div class="my-3 form__titles">
        {{ form_row(form.facebook, { 'label': 'Facebook'}) }}
    </div>
    <div class="my-3 form__titles">
        {{ form_row(form.validMonth, { 'label': 'Meses de validez'}) }}
    </div>
    <div class="my-3 form__titles">
        {{ form_row(form.submit, { 'label': 'Enviar' }) }}
    </div>

{{ form_end(form) }}
</div>
{% endblock %}