{% extends "base.html.twig" %}

{% block body %}
<div class="main__box">
    <div class="product__container">
        <div class="product__image-box">
            <img class="product__image" src="{{student.avatar}}" alt="{{student.name}}">
        </div>
        <div class="product__info-box">
            <div class="product__item">
                <p class="product__item-title">NOMBRE:</p>
                <p class="product__item-var product__item-var--id">{{student.name}} {{student.surname}}</p>
            </div>
            <div class="product__item">
                <p class="product__item-title">PAÍS:</p>
                <p class="product__item-var">{{student.country}}</p>
            </div>
            <div class="product__item">
                <p class="product__item-title">CUMPLEAÑOS:</p>
                <p class="product__item-var">{{ student.birth |date('d-m-Y') }}</p>
            </div>
            <div class="product__item">
                <p class="product__item-title">WHATSAPP:</p>
                <p class="product__item-var">{{ student.phone }}</p>
            </div>
            <div class="product__item">
                <p class="product__item-title">CORREO:</p>
                <p class="product__item-var">{{ student.email }}</p>
            </div>
            <div class="product__item">
                <p class="product__item-title">GENERO:</p>
                <p class="product__item-var">{{ student.gender }}</p>
            </div>
            <div class="product__item">
                <p class="product__item-title">INSTAGRAM:</p>
                <p class="product__item-var">{{ student.instagram }}</p>
            </div>
            <div class="product__item">
                <p class="product__item-title">FACEBOOK:</p>
                <p class="product__item-var">{{ student.facebook }}</p>
            </div>
            <div class="product__item">
                <p class="product__item-title">VALIDEZ:</p>
                <p class="product__item-var">
                    {% if flag == true %}
                    <span style="color:green;font-weight: bold;">ACTIVO!</span>
                    {% else %}
                    <span style="color:red;font-weight: bold;">INACTIVO!</span>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    <div class="my_container">
        <a href="{{ path("edit_student", {id: student.id}) }}" class="mt-3">
            <button type="submit" class="form__button">EDITAR ESTUDIANTE</button>
        </a>
        <a href="{{ path("generate_credential", {id: student.id}) }}" class="mt-3">
            <button type="submit" class="form__button">REENVIAR TARJETA</button>
        </a>
    </div>
</div>
{% endblock %}