@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

// Breakpoints
$bp-maggie: 15em; 
$bp-lisa: 30em;
$bp-bart: 48em;
$bp-marge: 62em;
$bp-homer: 75em;

$color-primary: #f9ff5f;
$color-black: #141414;
$principal-font: 'Montserrat';

body {
    font-family: $principal-font;
    background-color: $color-primary;
    margin: 0px;
}

a {
    text-decoration: none;
}

.my_container {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.header {
    &__container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid $color-black;
    }
    &__logo {
        height: 70px;
        width: auto;
        margin: 20px 0;
    }
}
.buttons {
    &__container {
        min-width: 500px;
        margin-bottom: 30px;
        padding: 20px 40px;
        color: $color-primary;
        background-color: $color-black;
        border: 1px solid $color-black;
        border-radius: 20px;
        font-size: 35px;
        text-align: center;
        font-weight: normal;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            color: $color-primary;
            background-color: $color-black;
            font-weight: bold;
        }
    }
    &__title {
        font-size: 40px;
        font-family: $principal-font;
        color: $color-black;
        font-weight: bold;
    }
    &__icon {
        margin-right: 15px;
    }
}
.footer {
    &__out-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    &__out {
        font-size: 25px;
        color: $color-black;
        text-decoration: none;
    }
}

.login {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.form {
    &__container {
        width: 80%;
        margin-top: 20px;
    }
    &__titles {
        font-size: 40px;
    }
}

.prueba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.prueba2 {
    text-align: center;
    min-width: 150px;
}
.prueba4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-table {
    width: 100%;
    margin-bottom: 1.5em;
    border-spacing: 0;
    
    @media (min-width: $bp-bart) {
      font-size: .9em; 
    }
    
    @media (min-width: $bp-marge) {
      font-size: 1em; 
    }
    
    thead {
      // Accessibly hide <thead> on narrow viewports
      position: absolute;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      padding: 0;
      border: 0;
      height: 1px; 
      width: 1px; 
      overflow: hidden;
      
      @media (min-width: $bp-bart) {
        // Unhide <thead> on wide viewports
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto;
      }
      
      th {
        background-color: $color-black;
        border: 1px solid $color-black;
        font-weight: normal;
        text-align: center;
        color: white;
        
        &:first-of-type {
          text-align: left; 
        }
      }
    }
    
    // Set these items to display: block for narrow viewports
    tbody,
    tr,
    th,
    td {
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal;
    }
    
    tr {   
      @media (min-width: $bp-bart) {
        // Undo display: block 
        display: table-row; 
      }
    }
    
    th,
    td {
      padding: .5em;
      vertical-align: middle;
      
      @media (min-width: $bp-lisa) {
        padding: .75em .5em; 
      }
      
      @media (min-width: $bp-bart) {
        // Undo display: block 
        display: table-cell;
        padding: .5em;
      }
      
      @media (min-width: $bp-marge) {
        padding: .75em .5em; 
      }
      
      @media (min-width: $bp-homer) {
        padding: .75em; 
      }
    }
    
    caption {
      margin-bottom: 1em;
      font-size: 1em;
      font-weight: bold;
      text-align: center;
      
      @media (min-width: $bp-bart) {
        font-size: 1.5em;
      }
    }
    
    tfoot {
      font-size: .8em;
      font-style: italic;
      
      @media (min-width: $bp-marge) {
        font-size: .9em;
      }
    }
    
    tbody {
      @media (min-width: $bp-bart) {
        // Undo display: block 
        display: table-row-group; 
      }
      
      tr {
        margin-bottom: 1em;
        
        @media (min-width: $bp-bart) {
          // Undo display: block 
          display: table-row;
          border-width: 1px;
        }
        
        &:last-of-type {
          margin-bottom: 0;
        }
        
        &:nth-of-type(even) {
          @media (min-width: $bp-bart) {
            background-color: rgba(0,0,0,.12);
          }
        }
      }
      
      th[scope="row"] {
        background-color: $color-black;
        color: white;
        
        @media (min-width: $bp-lisa) {
          border-left: 1px solid $color-black;
          border-bottom: 1px solid $color-black;
        }
        
        @media (min-width: $bp-bart) {
          background-color: transparent;
          color: rgba(0,0,0,0.87);
          text-align: left;
        }
      }
      
      td {
        text-align: right;
        
        @media (min-width: $bp-bart) {
          border-left: 1px solid $color-black;
          border-bottom: 1px solid $color-black;
          text-align: center; 
        }
        
        &:last-of-type {
          @media (min-width: $bp-bart) {
            border-right: 1px solid $color-black;
          } 
        }
      }
      
      td[data-type=currency] {
        text-align: right; 
      }
      
      td[data-title]:before {
        content: attr(data-title);
        float: left;
        font-size: .8em;
        color: rgba(0,0,0,.54);
        
        @media (min-width: $bp-lisa) {
          font-size: .9em; 
        }
        
        @media (min-width: $bp-bart) {
          // Don’t show data-title labels 
          content: none; 
        }
      } 
    }
}

.product {
  &__container {
      display: flex;
  }
  &__image {
      width: 100%;
      height: auto;
      &-box {
          width: 500px;
          height: auto;
          border: 5px var(--color-white) solid;
      }
  }
  &__info-box {
      padding: 0 40px;
      width: 100%;
  }
  &__item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px var(--color-grey-300) solid;
  }
  &__item-title {
      font-size: 17px;
      font-weight: 600;
      color: var(--color-black)
  }
  &__item-var {
      font-weight: 200;
      &--id {
          cursor: not-allowed;
          color: var(--color-grey-500);
      }
  }
}

.form {
  &__button {
    background-color: $color-black;
    color: #fff;
    width: 400px;
    max-height: 50px;
    padding: 10px;
    font-weight: 800;
    cursor: pointer;
    border: 1px transparent solid;
    display: inline-block;
    transition: 0.4s all ease;
    &:hover {
        border: 1px $color-black solid;
        background-color: rgb(211, 211, 211);
        color: $color-black;
    }
}
}