<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ERASMUSIC APP!!{% endblock %}</title>
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/style.css">

        <script src="js/app.js"></script>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <header class="header__container">
            <a href="{{ path("homepage") }}"><img class="header__logo" src="/images/logo.png" alt=""></a>
        </header>
        <div class="my_container">
            {% block body %}
                <p class="buttons__title">¿Qué deseas hacer?</p>
                <a href="{{ path("new_student") }}" class="buttons__container">
                    <i class='bx bxs-message-square-add buttons__icon'></i>
                    <p>AGREGAR ESTUDIANTE</p>
                </a>
                <a href="{{ path("all_students")}}" class="buttons__container">
                    <i class='bx bxs-bar-chart-alt-2 buttons__icon'></i>
                    <p>GESTIONAR ESTUDIANTES</p>
                </a>
                {% endblock %}
            <!-- <div class="footer__out-container">
                <a href="/logout" class="footer__out"><i class='bx bx-log-out'></i> SALIR</a>
            </div> -->
        </div>
    </body>
</html>
